* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

#grade-table {
    border: 1px solid black;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

}

#add-form, #grade-table {
    text-align: center;
}

#name-entry {
    margin-right: 10px; 
}

#add-btn {
    width: 50px;
    height: 25px;
}

#delete-btn {
    width: 60px;
    height: 40px;
    font-size: 12px;
}

#grade-table tr {
    border-bottom: 1px solid black;
}

#grade-table tbody tr:nth-child(odd) {
    background: white;
}
#grade-table tbody tr:nth-child(even) {
    background: #f2f2f2;
}

.small-col, .big-col, .med-col {
    border-right: 1px solid black;
}

.small-col {
    width: 10%;
}

.smaller-col {
    width: 5%;
    border-top: 1px solid black;
}

.med-col {
    width: 25%;
}

.big-col {
    width: 60%;
}

#name-col, #grade-col {
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
}

.fa-times {
    color: red;
    cursor: pointer;
}

.big-col p {
    padding: 0;
    margin: 0;
}

.passing {
    background-color: #a1f06c;
}

.failing {
    background-color: #ff715e;
}

.name-replacer {
    width: 60%;
    text-align: center;
}

.alert {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    height: 100px;
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0;
    transition: opacity .3s;
    padding: 10px;
}

.alert-danger {
    background: #f8d7da;
    color: #721c24;
}

.show-alert {
    opacity: 1;
}